$azul-fuerte: rgb(9, 71, 82);
$azul-claro: rgb(91, 192, 184);
$azul-claro-opaco: rgba(91, 192, 184, 0.753);
$azul-negro: rgb(6, 36, 44);
$rojo: rgb(238, 73, 73);
$gris-fuerte: rgb(192, 199, 209);
$gris: rgb(167, 169, 172);
$gris-claro: rgb(235, 236, 240);
$blanco: white;
