@import "colores.scss";
@import "responsive.scss";

#cultura {
    padding-top: 80px;
    .definicion-servicio {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        h1 {
            margin: 0;
            text-transform: uppercase;
        }
        h2 {
            margin: 0;
            font-weight: normal;
        }
        .header-servicio {
            padding: 0 60px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media #{$tablet} {
                grid-template-columns: 1fr;
                padding: 0;
            }
            .flex-vertical-centered {
                display: flex;
                @media #{$tablet} {
                    padding: 10% 10% 0;
                }
                > div {
                    margin: auto 0;
                    height: auto;
                    width: 100%;
                    @media #{$tablet} {
                        width: 100%;
                    }
                    > div {
                        display: flex;
                        flex-direction: row;
                        > div {
                            display: flex;
                            flex-direction: column;
                            margin: auto 0;
                        }
                        img {
                            height: 75px;
                            margin: auto 10px auto 0px;
                            width: auto;
                        }
                    }
                }
            }
            img {
                width: 90%;
                margin: auto;
            }
        }
    }
    .mision-vision {
        padding: 0 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
        @media #{$tablet} {
            grid-template-columns: none;
            padding: 0 10px;
        }
        > div {
            padding: 40px 20px;
            min-height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                text-transform: uppercase;
                font-weight: bold;
            }
            &:first-child {
                background-color: $azul-fuerte;
                color: white;
            }
            &:last-child {
                background-color: $azul-claro;
                color: white;
            }
        }
    }
}
