@import "colores.scss";
@import "responsive.scss";

@font-face {
    font-family: Nexa;
    src: url("../fonts/NexaL.otf");
}

@font-face {
    font-family: Nexa;
    src: url("../fonts/NexaB.otf");
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Nexa;
    color: $azul-fuerte;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

p {
    white-space: pre-wrap;
}

#header {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.31);
    display: flex;
    height: 80px;
    background-color: $blanco;
    position: fixed;
    width: 100%;
    z-index: 999;
    > div {
        width: 20%;
        box-sizing: border-box;
        display: flex;
        @media #{$tablet} {
            padding: 0;
            width: 100%;
        }
        &:first-child {
            padding-left: 80px;
        }
        &:last-child {
            padding-right: 80px;
        }
        > a {
            display: flex;
            @media #{$tablet} {
                width: 100%;
            }
        }
        > div {
            margin: auto;
            margin-right: 0;
        }
        img {
            height: 60%;
            margin: auto;
            margin-left: 0;

            @media #{$tablet} {
                margin: auto;
            }
        }
    }
    nav {
        width: 60%;
        box-sizing: border-box;
        margin: auto;
        ol {
            list-style: none;
            display: flex;
            padding: 0;
            font-weight: bold;
            color: $azul-fuerte;
            li {
                margin: 0 10px;
                text-transform: uppercase;
                &:last-child {
                    margin-right: auto;
                }
                &:first-child {
                    margin-left: auto;
                }
            }
        }
    }
}

.boton {
    margin: auto;
    border-radius: 2px;
    box-shadow: none;
    border: 0;
    padding: 5px 10px;
    font-weight: bold;
    color: $blanco;
    text-transform: uppercase;
    cursor: pointer;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &.rojo {
        background-color: $rojo;
        color: $blanco;
    }
    &.blanco {
        background-color: $blanco;
        color: $rojo;
    }
    &.azul {
        background-color: $azul-fuerte;
        color: $blanco;
    }
    &.large {
        font-size: 1.5em;
    }
    &.disabled {
        background-color: $gris;
    }
}
