@import "colores.scss";
@import "responsive.scss";

#clientes {
    .definicion-servicio {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        h1 {
            margin: 0;
            text-transform: uppercase;
        }
        h2 {
            margin: 0;
            font-weight: normal;
        }
        .header-servicio {
            padding: 0 60px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media #{$tablet} {
                grid-template-columns: 1fr;
                padding: 0;
            }
            .flex-vertical-centered {
                display: flex;
                @media #{$tablet} {
                    padding: 10% 10% 0;
                }
                > div {
                    margin: auto 0;
                    height: auto;
                    width: 100%;
                    @media #{$tablet} {
                        width: 100%;
                    }
                    > div {
                        display: flex;
                        flex-direction: row;
                        > div {
                            display: flex;
                            flex-direction: column;
                            margin: auto 0;
                        }
                        img {
                            height: 75px;
                            margin: auto 10px auto 0px;
                            width: auto;
                        }
                    }
                }
            }
            img {
                width: 90%;
                margin: auto;
            }
        }
    }
    .clientes {
        background-color: $gris-claro;
        color: $gris-fuerte;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        @media #{$tablet} {
            height: 100%;
        }
        h2 {
            color: $gris-fuerte;
        }
        p {
            color: $gris-fuerte;
        }
        > div:first-child {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: 0;
        }
        > div:last-child {
            display: grid;
            grid-row-gap: 45px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            width: 80%;
            margin: auto;
            margin-top: 20px;
            overflow: auto;
            @media #{$tablet} {
                grid-template-columns: 30% 30% 30%;
                grid-row-gap: 10px;
                grid-column-gap: 5%;
            }
            img {
                width: 75%;
                cursor: pointer;
            }
            .marcas-container {
                position: relative;
                img.gris {
                    position: relative;
                }
                img.color {
                    position: absolute;
                    left: 0;
                    visibility: hidden;
                }
            }
            .marcas-container:hover,
            .marcas-container.activo {
                img.gris {
                    visibility: hidden;
                }
                img.color {
                    visibility: visible;
                }
            }
        }
    }
    .cliente-container {
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        overflow-y: auto;
        > div {
            position: relative;
            width: 60vw;
            height: 500px;
            overflow: hidden;
            > img.logo {
                width: 150px;
                position: absolute;
                bottom: 50px;
                left: 50px;
            }
            img.foto {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            @media #{$tablet} {
                width: 100vw;
            }
        }

        .visita {
            width: 35vw;
            background-color: $azul-fuerte;
            color: $blanco;
            display: flex;
            align-content: center;
            justify-content: center;
            text-align: center;
            height: 100%;
            a {
                height: auto;
                margin: auto;
            }
            @media #{$tablet} {
                width: 100vw;
            }
        }

        .estas-listo {
            width: 50vw;
            display: grid;
            grid-template-columns: auto 65% auto;
            @media #{$tablet} {
                text-align: center;
                margin: auto;
                width: 100vw;
            }
            div {
                grid-column-start: 2;
                grid-column-end: 3;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-weight: bold;
                }
                p {
                    margin: 0 0 10px;
                }
            }
            img {
                grid-column-start: 3;
                grid-column-end: 4;
                margin: auto;
            }
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 15px;
            height: 25px;
            background-color: $gris-claro;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $azul-claro;
        }
    }
}
